html, body {
  height: 100%;
  width: 100%;
}

/* .wrapper {
  display: flex;
  flex-wrap: wrap; 
}

.wrapper > div  {
  flex: 1 1 150px;
} */


.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
}
